<section class="about d-flex py-5 align-items-center">
  <div class="container text-white">
    <h1 class="text-uppercase text-center fw-bold py-3 h2">about component</h1>
    <div class="text-center mb-3">
      <div class="line-star"></div>
      <i class="fas fa-star text-white px-3 fa-xl"></i>
      <div class="line-star"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="aboutInfo">
          <p class="small">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="aboutInfo">
          <p class="small">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
