<section class="home d-flex align-items-center">
  <div class="container">
    <div class="item text-center text-white w-75 mx-auto">
      <img class="home-img" src="./imges/avataaars.svg" alt="" />
      <h1 class="text-uppercase fw-bold py-3 h2">start Framework</h1>

      <div class="text-center">
        <div class="line-star"></div>
        <i class="fas fa-star text-white px-3 fa-xl"></i>
        <div class="line-star"></div>
      </div>
      <p class="small pt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
